# vim: filetype=yaml
---
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
PointerAlignment: Right
ColumnLimit: 0
AlignConsecutiveMacros: true
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
BinPackArguments: false
InsertTrailingCommas: Wrapped
